main {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  min-width: 20rem;
}

body {
  max-width: 66rem;
  min-width: 344px;
}

a:visited, a:link {
  color: blue;
}

a:hover, a:focus {
  color: darkred ;
}

img, h1, h2, h3, h4, div {
  z-index: 1;
  text-align: center;
}

img {
  max-width: 100%;
}

p {
  font-size:inherit;
  padding: 10px;
}

#apple-home, #apple-macbookpro, #apple-macmini {
  text-align: center;
  background-color: rgb(133, 166, 177);
  color: black;
  z-index: 0;
  margin: 1px;
  min-width: 20rem;
}

#footer-box, #intro-box {
  background-color: lightseagreen;
  z-index: 0;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 25px;
  color: white;
  padding: 10px;
}

div {
  font-size: 20px;
}

#yearnameschool {
  font-size: 20px;
}

#datemodified {
  font-size: 15px;
}

/* medium css */
@media only screen and (min-width: 40rem) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #apple-macmini {
    grid-column: span 2;
  }
}

/* large css */
@media only screen and (min-width: 60rem) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #apple-macmini {
    grid-column: span 1;
  }
}