main {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 20rem;
  text-align: center;
}

body {
  max-width: 66rem;
  min-width: 344px;
}

a:visited, a:link {
  color: black;
}

a:hover, a:focus {
  color: blue;
  font-size: 1.2em;
}

#apple-home:hover, #apple-macbookpro:hover, #apple-macmini:hover {
  background-color: white;
} 


h2, h3, h4 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 2px;
  padding-top: 10px;
}

img {
  max-width: 100%;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  padding-top: 5px;
  margin-top: 5px;
  font-size: 18px;
}

p {
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.site {
  padding-top: 5px;
  margin-top: 5px;
}

#apple-home, #apple-macbookpro, #apple-macmini {
  background-color: rgb(133, 166, 177);
  color: black;
  z-index: 0;
  margin: 1px;
  min-width: 20rem;
  font-size: 18px;
  font-family: sans-serif;
}

#footer-box, #intro-box {
  background-color: lightseagreen;
  z-index: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  color: black;
  padding: 10px;
  text-align: center;
}


div {
  font-size: 18px;
  padding-top: 5px;
  margin-top: 5px;
}

#yearnameschool {
  font-size: 20px;
}

#datemodified {
  font-size: 15px;
}