

thead {
  background-color: black;
  color: white;
}

table {
	margin: 10px auto;
	border: thin solid hsla(0,0%,20%,.8);
	border-collapse: collapse;
}


th, td {
	padding: 8px 16px;
	border: 1px solid hsla(0,0%,33%,.3);
}

th {
	font-size: larger;
}

td {
	text-align: center;
}

tr:nth-child(2) td:nth-child(2),  tr:nth-child(3) td:nth-child(2), tr:nth-child(3) td:nth-child(3) {
  color: red;
}

caption {
  padding: 10px;
  caption-side: bottom;
	font-size: 1rem;
}

