@media only screen and (min-width: 905px) {

#calltoaction, #news, #event1, #event2, #weather, #join, #spotlight1, #spotlight2, #spotlight3, #hero {
  font-size: 25px;
  text-align: center;
  justify-content: center;
  height: 180px;
  width: auto;
  background-color: rgba(152, 153, 139, 0.7)
}

#montuebanner {
  font-size: 20px;
}
main {
  position: relative;
  height: 1500px;
  margin-top: 1%;
  z-index: 0;
}
body {
  max-width: 1200px;
}
h1, h2{
  font-size: 25px;
}
#calltoaction {
  position: absolute;
  top: 0%;
  bottom: 85.714%;
  left: 0%;
  right: 51%;
  overflow: hidden;
}
#calltoaction:hover {
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: #98998bff;
  height: fit-content;
}

#news {
  position: absolute;
  top: 0%;
  bottom: 85.714%;
  right: 0%;
  left: 51%;
  overflow: hidden;
}
#news:hover {
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: #98998bff;
  height: fit-content;
}

#event1 {
  position: absolute;
  top: 14.284%;
  bottom: 71.428%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}
#event1:hover {
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: #98998bff;
  height: fit-content;
}

#event2 {
  position: absolute;
  top: 28.57%;
  bottom: 57.142%;
  right: 0%;
  left: 0%;
  overflow: hidden;
}
#event2:hover {
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: #98998bff;
  height: fit-content;
}

#weather {
  position: absolute;
  top: 42.856%;
  bottom: 42.856%;
  left: 0%;
  right: 51%;
  overflow: hidden;
}
#weather:hover {
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: #98998bff;
  height: fit-content;
}
#join {
  position: absolute;
  top: 42.856%;
  bottom: 42.856%;
  right: 0%;
  left: 51%;
  overflow: hidden;
}
#join:hover {
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: #98998bff;
  height: fit-content;
}
#spotlight1 {
  position: absolute;
  top: 57.142%;
  bottom: 28.57%;
  left: 0%;
  right: 51%;
  overflow: hidden;
}
#spotlight1:hover {
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: #98998bff;
  height: fit-content;
}

#spotlight2 {
  position: absolute;
  top: 57.142%;
  bottom: 28.57%;
  right: 0%;
  left: 51%;
  overflow: hidden;
}
#spotlight2:hover {
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: #98998bff;
  height: fit-content;
}

#spotlight3 {
  position: absolute;
  top: 71.428%;
  bottom: 14.284%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}
#spotlight3:hover {
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: #98998bff;
  height: fit-content;
}

#hero {
  position: absolute;
  top: 85.714%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  overflow: hidden;
  font-size: 20px;
  color: #000000;
}
#hero:hover {
  top: 75%;
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: white;
  height: fit-content;
}

#stone {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#stone:hover {
  opacity: 0.6;
}
nav ul li a {
  padding: 1.5rem 3rem;
}

nav ul li {
  display: flex;
}
nav button {display: none;}

nav ul#primaryNav {
  display: flex;
  justify-content: flex-start;
  border-left: 1px solid rgba(0,0,0, 0.3);
  box-shadow: 0 0 30px #000000;
}

nav ul li a {
  border: none;
  border-right: 1px solid rgba(0,0,0, 0.3);
}
nav {
  display: flex;
  font-size: 18px;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-evenly;
  box-shadow: 0 0 20px #000000;
}


.sitename {
  font-size: 40px;
}

#logo {
  display: flex;
  max-width: 300px;
  max-height: 300px;
  border: none;
  background: transparent;
}

#facebook, #twitter {
  max-width: 25px;
  max-height: 25px;
  background: transparent;
}

header, footer {
  box-shadow: 0 0 20px #000000;
}
}