@media only screen and (min-width: 905px) {

/* ----------------------------------------------------------------------------------- */
/* HEADER */

header {
  box-shadow: 0 0 20px #000000;
}

.sitename {
  font-size: 40px;
}

#montuebanner {
  font-size: 20px;
}

/* HEADER */
/* ----------------------------------------------------------------------------------- */
/* NAVIGATION */

nav ul li a {
  padding: 1.5rem 3rem;
}

nav ul li {
  display: flex;
}

nav button {display: none;}

nav ul#primaryNav {
  display: flex;
  justify-content: flex-start;
  border-left: 1px solid rgba(0,0,0, 0.3);
  box-shadow: 0 0 30px #000000;
}

nav ul li a {
  border: none;
  border-right: 1px solid rgba(0,0,0, 0.3);
}

nav {
  display: flex;
  font-size: 18px;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-evenly;
  box-shadow: 0 0 20px #000000;
}


/* NAVIGATION */
/* ----------------------------------------------------------------------------------- */
/* MAIN */

body {
  max-width: 1500px;
}

main {
  position: relative;
  height: 1100px;
  margin-top: 1%;
  margin-bottom: 2%;
}

h1, h2{
  font-size: 25px;
}

#news, #event1, #weather, #join, #spotlight1, #spotlight2, #spotlight3{
  font-size: 25px;
  text-align: center;
  justify-content: center;
  width: auto;
  background-color: rgba(152, 153, 139, 0.7);
  height: 340px;
  display: block;
  margin: 5px;
}

/* MAIN */
/* ----------------------------------------------------------------------------------- */
/* MAIN SECTIONS */

#spotlights {
  position: absolute;
  top: 0%;
  bottom: 100%;
  right: 0%;
  left: 75%;
  flex-direction: column;
  overflow: hidden;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  width: auto;
  background-color: rgba(152, 153, 139, 0.7);
  height: 1092px;
  margin-left: 0px;
  overflow: auto;
  display: block;
}

#spotlight1 {
  flex: 1;
  overflow: hidden;
}

#spotlight1:hover {
  margin-left: 0px;
  overflow: auto;
  display: block;
  display: contents;
}

#spotlight2 {
  flex: 1;
  overflow: hidden;
}

#spotlight2:hover {
  flex: auto;
  width: 100%;
  display: contents;
  background-color: #98998bff;
}

#spotlight3 {
  flex: 1;
  overflow: hidden;
}

#spotlight3:hover {
  flex: auto;
  width: 100%;
  display: contents;
  background-color: #98998bff;
}

#event1 {
  position: absolute;
  top: 0%;
  bottom: 33.3%;
  right: 75%;
  left: 0%;
  overflow: hidden;
  font-size: 20px;
  color: #000000;
}

#event1:hover {
  top: 0;
  left: 0%;
  right: 0%;
  background-color: #98998bff;
}

#weather {
  position: absolute;
  top: 33.3%;
  bottom: 66.6%;
  left: 0%;
  right: 75%;
  overflow: hidden;
}

#weather:hover {
  left: 0%;
  right: 0%;
  background-color: #98998bff;
}

#join {
  position: absolute;
  top: 66.6%;
  bottom: 100%;
  right: 75%;
  left: 0%;
  overflow: hidden;
}

#join:hover {
  top: 33.3%;
  bottom: 0%;
  left: 0%;
  right: 25%;
  background-color: #98998bff;
  height: fit-content;
  z-index: 1;
}

#news {
  position: absolute;
  top: 66.6%;
  bottom: 100%;
  right: 25%;
  left: 25%;
  overflow: hidden;
}

#news:hover {
  left: 0%;
  right: 0%;
  background-color: #98998bff;
  height: fit-content;
}

#hero {
  position: absolute;
  top: 0%;
  bottom: 66.6%;
  left: 25%;
  right: 25%;
  overflow: hidden;
  height: 715px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  width: auto;
  background-color: rgba(152, 153, 139, 0.7);
}

#hero:hover {
  left: 0%;
  right: 0%;
  background-color: #98998bff;
}

/* MAIN SECTIONS */
/* ----------------------------------------------------------------------------------- */
/* IMAGES */

#stone {
  float: inherit;
  max-width: 80%;
  object-fit: cover;
}

#hand {
  float: right;
  max-width: 60%;
  object-fit: cover;
}

#babycow {
  padding: 15px;
  float: left;
  max-width: 60%;
  object-fit: cover;
}

#logo {
  display: flex;
  max-width: 300px;
  max-height: 300px;
  border: none;
  background: transparent;
}

#facebook, #twitter {
  max-width: 25px;
  max-height: 25px;
  background: transparent;
}

/* IMAGES */
/* ----------------------------------------------------------------------------------- */
/* FOOTER */

footer {
  box-shadow: 0 0 20px #000000;
}

/* FOOTER */
/* ----------------------------------------------------------------------------------- */
/* HIDDEN ON LARGE VIEW */

#event2, #calltoaction {
  display: none;
}

/* HIDDEN ON LARGE VIEW */
/* ----------------------------------------------------------------------------------- */
}