/* font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ysabeau', sans-serif; */
/* CSS HEX
--candy-apple-red: #fc2913ff;
--battleship-gray: #98998bff;
--turkey-red: #b11500ff;
--lemon-chiffon: #fef9c6ff;
--aureolin: #fbe301ff; */

/* ----------------------------------------------------------------------------------- */
/* HEADER */

header {
  box-shadow: 0 0 10px #000000;
}

.sitename {
  font-size: 20px;
  text-align: center;
  margin: auto;
  z-index: 1;
}

#montuebanner {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  font-size: 12px;
  padding: 5px;
}

#logo {
  margin: 0 auto;
  padding: 0;
  max-width: 100px;
  max-height: 100px;
  background: transparent;
}

#time {
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header {
  display: flex;
  background-color:  #98998bff;
  text-align: center;
  padding: 10px;
  z-index: 0;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* HEADER */
/* ----------------------------------------------------------------------------------- */
/* NAVIGATION */

nav {
  box-shadow: 0 0 10px #000000;
}

#facebook, #twitter {
  max-width: 15px;
  max-height: 15px;
  background: transparent;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

nav {
  background-color: #98998bff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: black;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

nav ul li.active a {
  background-color: #606060;
  color: white;
}

nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 32px;
  color: black;
}

/* NAVIGATION */
/* ----------------------------------------------------------------------------------- */
/* MAIN */

main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 15px;
}

body {
  min-width: 420px;
  margin: 1.25rem auto;
  font-family: 'Ysabeau', sans-serif;
  --candy-apple-red: #fc2913ff;
  --battleship-gray: #98998bff;
  --turkey-red: #b11500ff;
  --lemon-chiffon: #fef9c6ff;
  --aureolin: #fbe301ff;
}

#calltoaction, #news, #event1, #event2, #weather, #join, #hero, #spotlights {
  display: block;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px #000000;
  margin: 10px;
}

#spotlight1, #spotlight2, #spotlight3 {
  text-align: center;
  box-shadow: 0 0 10px #000000;
  margin: 0 auto;
}

h1, h2 {
  font-size: 16px;
}

/* MAIN */
/* ----------------------------------------------------------------------------------- */
/* MAIN SECTIONS */

#weather {
  background: radial-gradient(blue, lightblue);
  border: 1px solid blue;
  box-shadow: 0 0 30px blue;
  color: white;
}

/* MAIN SECTIONS */
/* ----------------------------------------------------------------------------------- */
/* IMAGES */

#hand {
  float: right;
  max-width: 100px;
  object-fit: cover;
}

#babycow {
  padding: 7px;
  float: left;
  max-width: 100px;
  object-fit: cover;
}

#stone {
  padding: 7px;
  float: inherit;
  max-width: 40%;
  object-fit: cover;
}
/* IMAGES */
/* ----------------------------------------------------------------------------------- */
/* FOOTER */
footer {
  box-shadow: 0 0 10px #000000;
}

#location {
  color: #000000;
}

footer {
  background-color: #98998bff;
  padding: 10px;
  margin-top: 30px;
}

#yearandabout, #datemodified {
  text-align: center;
  font-size: 15px;
  padding-bottom: 5px;
}

#smalllogo {
  max-width: 60px;
}

/* FOOTER */
/* ----------------------------------------------------------------------------------- */
/* HIDDEN ON SMALL VIEW */

#spotlight3 {
  display: none;
}

/* HIDDEN ON SMALL VIEW */
/* ----------------------------------------------------------------------------------- */