/* font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ysabeau', sans-serif; */
/* CSS HEX
--candy-apple-red: #fc2913ff;
--battleship-gray: #98998bff;
--turkey-red: #b11500ff;
--lemon-chiffon: #fef9c6ff;
--aureolin: #fbe301ff; */

#calltoaction, #news, #event1, #event2, #weather, #join, #spotlight1, #spotlight2, #spotlight3, #hero {
  display: block;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px #000000;
}

main {
  padding: 15px;
}

body {
  min-width: 420px;
  margin: 1.25rem auto;
  font-family: 'Ysabeau', sans-serif;
  --candy-apple-red: #fc2913ff;
  --battleship-gray: #98998bff;
  --turkey-red: #b11500ff;
  --lemon-chiffon: #fef9c6ff;
  --aureolin: #fbe301ff;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

nav {
  background-color: #98998bff;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: black;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 32px;
  color: black;
}

time {
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  display: flex;
  background-color:  #98998bff;
  text-align: center;
  padding: 10px;
  z-index: 0;
  align-items: center;
  justify-content: center;
}
#logo {
  margin: 0 auto;
  padding: 0;
  max-width: 100px;
  max-height: 100px;
  background: transparent;
}

#facebook, #twitter {
  max-width: 15px;
  max-height: 15px;
  background: transparent;
}

#smalllogo {
  max-width: 60px;
}

#yearandabout, #datemodified {
  text-align: center;
  font-size: 15px;
  padding-bottom: 5px;
}

.sitename {
  font-size: 20px;
  text-align: center;
  margin: auto;
  z-index: 1;
}

footer {
  background-color: #98998bff;
  padding: 10px;
  margin-top: 30px;
}

#stone {
  display: none;
}