
body {
  max-width: 1500px;
  margin: 1.25rem auto;
  font-family: 'Ysabeau', sans-serif;
  --candy-apple-red: #fc2913ff;
  --battleship-gray: #98998bff;
  --turkey-red: #b11500ff;
  --lemon-chiffon: #fef9c6ff;
  --aureolin: #fbe301ff;
}

main #directory {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 1400px;
}

.menu {
	margin: 1rem auto;
	background-color: none;
	text-align: center;
}

.menu button {
	border-radius: 0.5rem;
}

#gridicon, #listicon {
	width: 2.3rem;
	height: 2.3rem;
	padding: 0.5rem;
}

#gridicon:active, #listicon:active {
	background-color: white;
	border-radius: 3rem;
	transform: scale(1.5);
}


section {
	padding: 1rem;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}


.directclass {
  font-size: 12px;
  color: black;
}

.grid section {
  background-color: #98998bff;
  margin: 0.5%;
  padding: 4% 1% 1% 1%;
  border-radius: 0.5rem;
	box-shadow: -5px 5px 5px #333;
} 


.grid img {
	box-shadow: -5px 5px 5px #333;
	border-radius: 0.5rem;
}


.grid section > * {
	margin: 0.3rem;
}


.list section img {
	display: none;
}

.list h3 {
	display: none;
}

.list {
	display: flex;
	flex-direction: column;
}


.list section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 1rem 2rem;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}



.list section:nth-child(even) {
	background-color: rgb(188, 189, 178);
}

#linksettings {
	font-size: 0.85rem;
	letter-spacing: 1.1pt;
}
