body {
  text-align: center;
}


h1 {
  z-index: 1;
  color: blueviolet;
  margin: auto;
  font-size: 25px;  
}

img {
  padding: 10px;
  height: 280px;
  width: 170px;
  
}

ul {
  list-style: none;
}

#outro-box {
  background-color: #a2d2ff;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
  width: 750px;
  color: black;
  z-index: 0;
  display:flex;
  font-size: 15px;
}

#intro-box {
  background-color: #a2d2ff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 300px;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 750px;
  color: black;
  z-index: 0;
  display: flex;
}

header, nav, main, footer{
  max-width: 750px;
  margin: 0 auto;

}

nav {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 40px;
  font-size: 22px;
  margin-bottom: 40px;
  color: darkgreen;
}

footer {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
  color:blue;
  z-index: 1;
}

span {
  padding: 5px;
}

