body {
  text-align: center;
  max-width: 750px;
  margin: 1.25rem auto;
}


h1 {
  z-index: 1;
  color: blue;
  margin: auto;
  font-size: 25px;  
}

img {
  padding: 10px;
  height: 280px;
  width: 170px;
}

ul {
  list-style: none;
}

#intro-box {
  background-color: #a2d2ff;
  z-index: 0;
  display: flex;
}

header, nav, main {
  max-width: flex;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 40px;
  font-size: 22px;
  margin-bottom: 40px;
  color: darkgreen;
}

#outro-box {
  background-color: #a2d2ff;
  z-index: 0;
  font-size: 15px;
  text-align: center;
  float: auto;
  padding: 20px;
  display: flex;
}

footer {
  color:blue;
  z-index: 1;
}


